[submodule "TP-algoritmos1"]
	path = TP-algoritmos1
	url = https://github.com/leandroev/TP-algoritmos1
[submodule "algoritmos2-TP-labo"]
	path = algoritmos2-TP-labo
	url = https://github.com/leandroev/algoritmos2-TP-labo
[submodule "Algoritmos2-TP3"]
	path = Algoritmos2-TP3
	url = https://github.com/leandroev/Algoritmos2-TP3
[submodule "orga2-tp1"]
	path = orga2-tp1
	url = https://github.com/leandroev/orga2-tp1
[submodule "orga2-tp2"]
	path = orga2-tp2
	url = https://github.com/leandroev/orga2-tp2
